/*
font-family: 'Hanalei Fill', cursive;
font-family: 'Lato', sans-serif;
*/

.home{

	width: 100%;
	height: 100%;
	min-height: 100%;
	text-align: center;
}

.home h1{
    position: relative;
    top: 40%;
    transform: translateY(-50%);
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color: #6E685A;
	font-size: 96px;
}
