html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    flex: 8;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.site{
    display: flex;
    height: 100%;
    min-height: 100%;
}
.menu{
    padding-left: 10px; 
    padding-right: 10px; 
    flex: 2;
    background-color: #B2A992;
    text-align: center;
}
.cont{
    flex: 10;
    padding: 30px;
    text-align:center;

}
.menu a{
    text-decoration: none;
    color: #544641;
    font-size: 18px;
    border: 0px solid black;
    border-radius: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
}
.menu a:hover{
    background-color: #6E685A;
    transition: 0.3s;
    cursor: pointer;
    color: #B2A992;
}
.line{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 2px solid #6E685A;
    margin-top: 5px;
    margin-bottom: 5px;
}

.layer{
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;   
    width: 70%;
}
#save-form{
    background-color: #FFF1D1;
    border: 1px solid #DDD0B0;
    padding: 40px;
}

.btn-add{
    width: 50%;
}

.title{
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    text-align: left;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 10px;
}

.resident{
    border-left: 4px solid orange;
    padding-left: 5px;
    text-align:left;
    font-size: 20px;
    font-weight: bold;
}

.resident-option{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%; 
    border-collapse: collapse;
}

.resident-option td, .resident-option th{
    border: 1px solid #E5D9BC;
    padding: 10px;
}
.form-group{
    margin: 0;
}
.form-group p{
    display: none;
}